<cyber>
    <module>
        <name>magnetic</name>
        <dag_conf>/apollo/modules/drivers/magnetic/dag/magnetic_front.dag</dag_conf>
        <process_name>magnetic</process_name>
    </module>
    <module>
        <name>magnetic</name>
        <dag_conf>/apollo/modules/drivers/magnetic/dag/magnetic_rear.dag</dag_conf>
        <process_name>magnetic</process_name>
    </module>
</cyber>
